<?php
$AUTOCONFIG = array(
  "dbtype"        => "mysql",
  "dbname"        => "<%= @db_database_name %>",
  "dbuser"        => "<%= @db_username %>",
  "dbpass"        => "<%= @db_password %>",
  "dbhost"        => "<%= @db_hostname %>",
  "dbtableprefix" => "<%= @db_table_prefix %>",
  "adminlogin"    => "<%= @nc_admin_username %>",
  "adminpass"     => "<%= @nc_admin_password %>",
  "directory"     => "<%= @nc_data_dir %>",
);
